.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 20px;
  }
  
  h1 {
    color: pink;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: pink;
  }
  
  h3 {
    color: #e65100;
    margin-top: 10px;
  }
  